.container {
    margin: auto 400px auto 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container-header {
    padding-top: 60px;
    text-align: center;
}
.container-header__content {
    text-align: center;
    margin-bottom: 40px;
}